<h2><%= @username %>のページ</h2><br>
<%= image_tag @user_image %><br>
<% unless current_user.id == $user.id %>
  <%= button_to 'フォローする', users_follow_path, {:remote => true} %>
  <% if current_user.following?($user) %>
    <%= button_to 'フォローを外す', users_unfollow_path , {:remote => true} %>
  <% end %>
<% end %>
<h2>フォロー一覧</h2>
<% current_user.following.each do |follow| %>
  <%= follow.username %>
<% end %>
<h2>投稿一覧</h2>
<% @user_posts.each do |post| %>
  <div class="user-page-scale-adjust">
    <h3>タイトル</h3>
    <%= post.title %>
    <h3>イラスト</h3>
    <%= image_tag post.image %><br>
    <% unless post.video.blank? %>
      <h3>ビデオ(音楽)</h3>
      <%= video_tag(post.video, :controls => true, :width => 200, :height => 200) %><br>
    <% end %>
    <h3>説明文</h3>
    <%= post.content %><br>
    <% if post.user.id == current_user.id %>
      <a href='/posts/<%= post.id %>/edit'>編集</a>
    <% end %>
    <h3>コメント</h3>
    <% post.comments.each do |comment| %>
      ユーザーネーム：<%= comment.user.username %>
      コメント内容：<%= comment.text %><br>
    <% end %>
  </div>
<% end %>
