<!DOCTYPE html>
<html>
<head>
  <title>Shiroqma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header">
  <!-- ここに検索フォーム作成 -->
<%= link_to 'トップへ', root_path, method: :get %>
  <% if user_signed_in? %>
    <%= link_to '投稿する', new_post_path, method: :get %>
    <a href="/users/<%= current_user.id %>">マイページ</a>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path, method: :get %>
    <%= link_to '新規登録', new_user_registration_path, method: :get %>
  <% end %>
</header>
<%= yield %>



</body>
</html>
