<!DOCTYPE html>
<html>
<head>
  <title>Shiroqma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <header class="header">
<div class="left">
  <%= form_tag('/posts/search', method: :get) do %>
    <input name="keyword" type="text" placeholder="タイトルで検索">
    <button class="btn-search" title="検索" type="submit">検索</button>
    </input>
  <% end %>
</div>

<div class="right">
  <%= link_to 'トップへ', root_path, method: :get %>
    <% if user_signed_in? %>
      <%= link_to '投稿する', new_post_path, method: :get %>
      <a href="/users/<%= current_user.id %>">マイページ</a>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, method: :get %>
      <%= link_to '新規登録', new_user_registration_path, method: :get %>
    <% end %>
    </div>
  </header>
 -->

<div id="headerbg">
      <ul class="menu-">
        <li class="menu-case">
          <div class="menu-name" id="logo"><%= image_tag 's_logo.png' %></div>
        </li>
        <li class="menu-case">
          <div class="menu-name">home</div>
        </li>
        <li class="menu-case">
          <div class="menu-name">feed</div>
          <ul class="menu-list">
            <li class="menu-one">follow</li>
            <li class="menu-one">circle</li>
            <li class="menu-one">college</li>
            <li class="menu-one">year</li>
          </ul>
        </li>
        <li class="menu-case">
          <div class="menu-name">category</div>
          <ul class="menu-list">
            <li class="menu-one">picture</li>
            <li class="menu-one">illust</li>
            <li class="menu-one">music</li>
            <li class="menu-one">movie</li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li class="menu-case"><%= link_to '投稿する', new_post_path, method: :get, :class => 'menu-name' %></li>
          <li class="menu-case"><a href="/users/<%= current_user.id %>", class="menu-name">マイページ</a></li>
          <li class="menu-case"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,:class => 'menu-name' %><li>
        <% else %>
          <li class="menu-case"><%= link_to 'ログイン', new_user_session_path, method: :get, :class => 'menu-name' %></li>
          <li class="menu-case"><%= link_to '新規登録', new_user_registration_path, method: :get, :class => 'menu-name' %></li>
        <% end %>
      </ul>
</div>

<%= yield %>



</body>
</html>
